################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmploymentDotNetTask/obj
/EmploymentDotNetTask/bin/Debug/net8.0
/.vs
